{% extends "webpage/layout.html" %}
{% block title %}
Group Members
{% endblock %}
{% block content %}

<b>Kyle Dang</b>
<p>Integrated Sentiment Analysis API</p>
<p>Implemented Frontend </p>
<p>Connected user input from front end and returned API output</p>
   
<b>Zach Faulkner</b>
<p>Built backend database using MongoDB</p>
<p>Routed user input and API output to database using pymongo</p>
<p></p>
<b>Jason Lee</b>
<p>Helped with API output</p>
<p>Took the API output and changed the UI into a user friendly way focusing on the main aspects of the API</p>
{% endblock %}
